.ColorPicker {
    .cell {
        cursor: pointer;
        width: 22px;
        height: 22px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        span {
            width: 14px;
            height: 14px;
            display: inline-block;
            border-radius: 100px;
            border: 1px solid #eee;
        }
        &:hover {
            border: 1px solid #bbb;
        }
    }
    .active {
        border: 1px solid #bbb;
    }
}
