.SignatureTool {
    .container {
        background-color: #eee;
        border: 1px solid #ccc;
        position: relative;
        margin: 0 auto;
        input {
            background-color: transparent;
            border: none;
            margin: 0 auto;
            text-align: center;
            display: block;
            width: 100%;
            outline: none;
        }
        input::-webkit-input-placeholder {
            color: #ccc;
        }
        :global(.konvajs-content) {
            z-index: 99;
            cursor: crosshair;
        }
        .info {
            font-size: 20px;
            z-index: 0;
            color: #ccc;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
        }
    }

    .imagePreview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    .toolbar {
        border: 1px solid #ccc;
        border-top: 0;
        margin: 0 auto;

        .colorPalette {
            display: flex;
            margin: 8px;
            height: 24px;

            .cell {
                cursor: pointer;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;

                span {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    border-radius: 100px;
                }
            }

            .active {
                border: 1px solid #bbb;
            }
        }
    }
}

.SignaturePop {
    .container {
        max-height: 200px;
        overflow: auto;
    }
    ul,
    li {
        margin: 0;
        list-style: none;
        padding: 0;
        li:hover {
            
            background-color: #ededed;
        }
    }
    li {
        display: flex;
        border-radius: 5px ;
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
        img {
            height: 48px;
            max-width: 100px;
            overflow: clip;
            object-fit: contain;
        }
        span {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}
